<div class="card">

    <div class="header">
        <h2 class="title">Flight Search</h2>
    </div>
    <div class="content">
        <form>

            <div class="form-group">
                <label>From:</label>
                <input name="from" type="text" [(ngModel)]="from" class="form-control">
            </div>

            <div class="form-group">
                <label>To:</label>
                <input name="to" [(ngModel)]="to" class="form-control">
            </div>

            <div class="form-group">
                <button (click)="search()" class="btn btn-default">Search</button>
            </div>
        </form>

        <!--
        <form [formGroup]="myForm" novalidate>

            {{myForm?.errors | json}}
            <div *ngIf="myForm?.errors" class="alert alert-danger">

                {{myForm?.errors | json}}
            </div>

            <div class="form-group">
                <label>From:</label>
                <input class="form-control" formControlName="from">
            </div>
            <div class="form-group">
                <label>To:</label>
                <input class="form-control" formControlName="to">
            </div>

            <div *ngIf="myForm.controls['from'].invalid && (myForm.controls['from'].dirty || myForm.controls['from'].touched)" class="alert alert-danger">
                {{myForm.controls['from'].errors | json}}

                <div *ngIf="myForm.controls['from']?.errors?.required">
                    Name is required.
                </div>
                <div *ngIf="myForm.controls['from']?.errors?.minlength">
                    Name must be at least 3 characters long.
                </div>
                <div *ngIf="myForm.controls['from']?.errors?.forbiddenCity">
                    Name cannot be Leoben.
                </div>
            </div>
            <div *ngIf="!myForm.controls['from']?.valid">
                {{myForm.controls['from'].errors | json}}
            </div>
        </form>
        !-->

        <!--
        <form #f="ngForm" novalidate cycleFlight targetCtrlName="to" srcCtrlName="from">

            <div *ngIf="f?.errors" class="alert alert-danger">

                {{f?.errors | json}}
            </div>
            <div class="form-group">
                <label>From:</label>
                <input name="from" forbiddenCity forbiddenCityName="Leoben" #fromCtrl="ngModel" type="text" [(ngModel)]="from" class="form-control" required minlength="3">
            </div>

            <div *ngIf="fromCtrl.invalid && (fromCtrl.dirty || fromCtrl.touched)" class="alert alert-danger">
                <div *ngIf="fromCtrl.errors.required">
                    Name is required.
                </div>
                <div *ngIf="fromCtrl.errors.minlength">
                    Name must be at least 3 characters long.
                </div>
                <div *ngIf="fromCtrl.errors.forbiddenCity">
                    Name cannot be Leoben.
                </div>
            </div>
            <div *ngIf="!f?.controls['from']?.valid">
                {{fromCtrl.errors | json}}
            </div>

            {{f.controls['from']?.getError()}} {{f.value | json}}
            <div class="form-group">
                <label>To:</label>
                <input name="to" [(ngModel)]="to" class="form-control">
            </div>

            <div class="form-group">
                <button (click)="search()" class="btn btn-default">Search</button>
            </div>
        </form>
-->
    </div>
</div>

<div class="row">
    <div *ngFor="let f of flights">

        <!-- <flight-card 
        [item]="f" 
        [selected]="basket[f.id]"
        (selectedChange)="basket[f.id] = $event"></flight-card> -->

        <!-- <flight-card class="col-lg-3 col-md-4 col-sm-6 col-xs-12" [item]="f" [(selected)]="basket[f.id]"></flight-card>

!-->
    </div>
</div>

<div class="card">

    <table class="table table-contensed" *ngIf="flights.length > 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>From</th>
                <th>To</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tr *ngFor="let f of flights" [class.selected]="f === selectedFlight">
            <td>{{f.id}}</td>
            <td>{{f.from | city:'short'}}</td>
            <td>{{f.to | city:'long'}}</td>
            <td>{{f.date | date:'dd.MM.yyyy'}}</td>
            <td>
                <a (click)="select(f)">Select</a>
            </td>
        </tr>
    </table>

</div>

<div class="card">
    <div class="content">
        <pre>{{basket | json}}</pre>
    </div>
</div>